<a href="https://colab.research.google.com/github/marianameyer/DataScience/blob/main/2_Analise_Exploratoria_Netflix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Análise Exploratória dos Dados da Netflix**

Neste projeto, serão analisados os dados do top 10 da Netflix. 

Dataset disponível em:

https://www.kaggle.com/datasets/himanshunakrani/most-popular-on-netflix?resource=download&select=most-popular.csv

In [1]:
# Importando as bibliotecas
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
# Carregando o Dataset
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/samples/most-popular.csv', encoding='ISO-8859-1')

In [5]:
# Visualização do Dataset
df.head()

,category,rank,show_title,season_title,hours_viewed_first_28_days
0,Films (English),1,Red Notice,NaN,364020000
1,Films (English),2,Don't Look Up,NaN,359790000
2,Films (English),3,Bird Box,NaN,282020000
3,Films (English),4,The Adam Project,NaN,233160000
4,Films (English),5,Extraction,NaN,231340000

In [9]:
# Visualização aleatória do Dataset
df.sample(10)

,category,rank,show_title,season_title,hours_viewed_first_28_days
29,TV (English),10,The Witcher,The Witcher: Season 2,484340000
17,Films (Non-English),8,The Forgotten Battle,NaN,60940000
31,TV (Non-English),2,Money Heist,Money Heist: Part 5,792230000
2,Films (English),3,Bird Box,NaN,282020000
16,Films (Non-English),7,Rogue City,NaN,66600000
4,Films (English),5,Extraction,NaN,231340000
15,Films (Non-English),6,Below Zero,NaN,78300000
14,Films (Non-English),5,The Takedown,NaN,78630000
37,TV (Non-English),8,Elite,Elite: Season 3,275300000
39,TV (Non-English),10,Elite,Elite: Season 4,257090000

In [11]:
# Verificação dos tipos de informação
df.dtypes

category                      object
rank                           int64
show_title                    object
season_title                  object
hours_viewed_first_28_days     int64
dtype: object

In [7]:
# Verificando o tamanho do Dataset
len(df)

40

Com um dataset pequeno, faremos algumas análises.

# Categoria:

In [8]:
# Quantos tipos há na coluna "Category"
cat_type = df['category'].unique()
cat_type

array(['Films (English)', 'Films (Non-English)', 'TV (English)',
       'TV (Non-English)'], dtype=object)

Há dois tipos de programação na lista de mais populares: 

* Filmes (Língua Inglesa e Estrangeiro);
* TV Shows (Língua Inglesa e Estrangeiro).

O Dataset será separado nas quatro categorias para análise.

In [19]:
# Divisão do df
cat_film = df[0:10]
cat_film

,category,rank,show_title,season_title,hours_viewed_first_28_days
0,Films (English),1,Red Notice,NaN,364020000
1,Films (English),2,Don't Look Up,NaN,359790000
2,Films (English),3,Bird Box,NaN,282020000
3,Films (English),4,The Adam Project,NaN,233160000
4,Films (English),5,Extraction,NaN,231340000
5,Films (English),6,The Unforgivable,NaN,214700000
6,Films (English),7,The Irishman,NaN,214570000
7,Films (English),8,The Kissing Booth 2,NaN,209250000
8,Films (English),9,6 Underground,NaN,205470000
9,Films (English),10,Spenser Confidential,NaN,197320000